<div id="details" >
        <!-- end of container -->
{% for preview in site.data[page.language].feature_preview %}
<div class="basic-2">
        {%if preview.image_position == "left"%}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="{{preview.image}}" alt="alternative">
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>{{preview.title}}</h3>
                            <p>{{preview.description}}</p>
                            {%- comment -%} <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> {%- endcomment -%}
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> 
        {%endif%}

        {%if preview.image_position == "right"%}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                     <div class="text-container">
                            <h3>{{preview.title}}</h3>
                            <p>{{preview.description}}</p>
                            {%- comment -%} <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> {%- endcomment -%}
                        </div> <!-- end of text-container -->
                      
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                         <img class="img-fluid" src="{{preview.image}}" alt="alternative">
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> 
        {%endif%}
        </div>
  {%endfor%}
</div>