{% assign app_name = site.data[page.language].texts | where:"name","hero_app_name" %}
{% assign hero_app_use_cases = site.data[page.language].texts | where:"name","hero_app_use_cases" %}
{% assign hero_description = site.data[page.language].texts | where:"name","hero_description" %}
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1>{{app_name.first.value}}<br>FOR <span id="js-rotating">{{hero_app_use_cases.first.value}}</span></h1>
                        <p class="p-large">{{hero_description.first.value}}</p>
                        {%- comment -%} <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-apple"></i>APP STORE</a> {%- endcomment -%}
                        {%- comment -%} <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>PLAY STORE</a> {%- endcomment -%}
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="../assets/images/revo-shield-hero-image.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header>