{%- comment -%} {% include sections/testimonials.html %} {%- endcomment -%}
{% include sections/features.html %}
{%- comment -%} {% include sections/video.html %} {%- endcomment -%}
{% include sections/details1.html %}
{%- comment -%} {% include sections/lightbox.html %} {%- endcomment -%}
{%- comment -%} {% include sections/lightbox2.html %} {%- endcomment -%}
{%- comment -%} {% include sections/download.html %} {%- endcomment -%}
{% include sections/statics.html %}
{% include sections/contact.html %}