{% assign title = site.data[page.language].texts | where:"name","title_text" %}
{% assign description = site.data[page.language].texts |
where:"name","description" %} {% assign hero_description =
site.data[page.language].texts | where:"name","hero_description" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta name="description" content="{{description.first.value}}" />
    <meta name="author" content="revoshield" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="{{ title.first.value }}" />
    <!-- title shown in the actual shared post -->
    <meta
      property="og:description"
      content="{{hero_description.first.value}}"
    />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>{{ title.first.value }}</title>

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i"
      rel="stylesheet"
    />
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/fontawesome-all.css" rel="stylesheet" />
    <link href="../assets/css/swiper.css" rel="stylesheet" />
    <link href="../assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="../assets/css/styles.css" rel="stylesheet" />

    <!-- Favicon  -->
    <link rel="icon" href="../assets/images/favicon.ico" />
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    {% include menu.html%}
    <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->
    {% include header.html %}
    <!-- end of header -->
    <!-- end of header -->

    {{ content }}
    <!-- Testimonials -->
    <!-- end of slider-1 -->
    <!-- end of testimonials -->

    <!-- Features -->
    <!-- end of tabs -->
    <!-- end of features -->

    <!-- Video -->
    <!-- end of basic-1 -->
    <!-- end of video -->

    <!-- Details 1 -->
    <!-- end of basic-2 -->
    <!-- end of details 1 -->

    <!-- Details 2 -->
    <!-- end of basic-3 -->
    <!-- end of details 2 -->

    <!-- Details Lightboxes -->
    <!-- Lightbox -->
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightboxes -->

    <!-- Screenshots -->
    <!-- end of slider-2 -->
    <!-- end of screenshots -->

    <!-- Download -->
    <!-- end of basic-4 -->
    <!-- end of download -->

    <!-- Statistics -->
    <!-- end of counter -->
    <!-- end of statistics -->

    <!-- Contact -->
    <!-- end of form -->
    <!-- end of contact -->

    <!-- Footer -->
    {%include footer.html%}
    <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © {{ 'now' | date: "%Y" }}
              <a href="https://revoshield.cc">RevoShield</a> - All rights
              reserved
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- enf of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../assets/js/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../assets/js/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../assets/js/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../assets/js/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../assets/js/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="../assets/js/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../assets/js/scripts.js"></script>
    <!-- Custom scripts -->
    {% include cookie-consent.html %}
  </body>
</html>
